<% if logged_in? %>
  <% if post.favorite_users.include?(current_user) %>
    <%= link_to favorites_path(post_id: post.id), method: :delete, remote: true do %>
      <span class="fa fa-heart like-btn-unlike fa-2x"></span>
    <% end %>
    <div class="post-favorite_users-count">
      <%= post.favorite_users.count %>
    </div>  
  <% else %>
    <%= link_to favorites_path(post_id: post.id), method: :post, remote: true do %>
      <span class="fa fa-heart like-btn fa-2x"></span>
    <% end %>
    <div class="post-favorite_users-count">
      <%= post.favorite_users.count %>
    </div>  
  <% end %>
<% end %>
  