body {
  color: #2d3133;
  margin: 0;
  min-height: 1vh;
}

.main {
  position :absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
}


h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('blue0003.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  position :absolute;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 130vh;
  background-image: image-url('blue0003.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  position :absolute;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.form-error {
  color: #ff4d75;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

header {
	height: 64px; 
	position: absolute;
	z-index: 1;
	width: 100%; 
	background-color: #3c388f;
}
 
.header-logo {
	float: left; 
	padding-left: 20px; 
	color: white;
	font-size: 32px;
	line-height: 64px;
}
 
.header-logo a{
	color: white; 
}
 
.header-menus {
	float: right; 
  padding-right: 20px;
}

.header-menus li {
  float: left;
  list-style-type: none;
  line-height: 64px;
  font-size: 17px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 17px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float:left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}

.user-show {
  text-align: center;
  background-color: #fafafa;
}

.user {
  margin-bottom: 20px;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}  

.user h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 13px;
  margin-bottom: 15px;
}

.container {
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.posts-index {
  padding-top: 10px;
  background-color: #fafafa;
}

.posts-index-item {
  background-color: #fff;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  margin-top: 20px;
  padding: 0px 10px 20px 10px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  img {
  width: 100%;
  }
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  position: absolute;
  top: 20px;
  left: 15px;
  bottom: 0;
  right: 0;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
  position: relative;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
  margin-top: 25px;
}

.post-title {
  text-align: center;
  clear: both;
}
