h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('blue0003.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('blue0003.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.form-error {
  color: #ff4d75;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

header {
	height: 64px; 
	position: absolute;
	z-index: 1;
	width: 100%; 
	background-color: #3c388f;
}
 
.header-logo {
	float: left; 
	padding-left: 20px; 
	color: white;
	font-size: 32px;
	line-height: 64px;
}
 
.header-logo a{
	color: white; 
}
 
.header-menus {
	float: right; 
  padding-right: 20px;
}

.header-menus li {
  float: left;
  list-style-type: none;
  line-height: 64px;
  font-size: 17px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 17px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float:left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}